.page-body {
  font-family: sans-serif;
  color: #373737;
  font-size: 16px;
}
.navbar {
  text-align: center;
  padding: 25px 0;
}
.menu {
  margin: 0;
  padding: 0;
}
.menu-item {
  display: inline;
  margin-left: 36px;
  margin-right: 36px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 18px;
}
.menu-link {
  text-decoration: none;
  color: #ff0000;
}
.main {
  text-align: center;
  padding-bottom: 59px;
}
.main-phone {
  width: 100%;
}
.container {
  width: 1145px;
  margin-left: auto;
  margin-right: auto;
}
.page-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 48px;
  padding-bottom: 38px;
}
.text {
  letter-spacing: 2.4px;
  margin-top: 0px;
  margin-bottom: 28px;
  line-height: 26px;
}
.div-btn {
  margin-top: 84px;
}
.btn {
  background: #ff0000;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 43px 17px 42px;
}
.footer {
  width: 1070px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 29px;
  padding-top: 40px;
}
.text-footer {
  text-align: right;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2.4px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 11px;
}
